.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 74px 70px 70px;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 107px;
    margin: 0;
}

.profile__form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile__inputs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.profile__inputs:first-child {
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;

}

.profile__input-name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

}

.profile__input {
    border: none;
    padding: 17px 0 16px 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000;
    width: 375px;
}

.profile__submit-edit {
    margin: 205px 0 16px 0;
    padding: 0;
    border: none;
    background-color: #fff;
    font-size: 13px;
    line-height: 16px;
}

.profile__submit-edit:hover {
    cursor: pointer;
    opacity: 0.7;
}

.profile__submit-logout {
    border: none;
    background-color: #fff;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
}

.profile__submit-logout-link {
    color: #000;
    text-decoration: none;
}

.profile__submit-logout:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 991.98px) {
    .profile__container {
        padding: 234px 70px 70px;
    }

    .profile__title {
        padding: 0 0 80px;
    }

    .profile__submit-edit {
        margin: 194px 0 16px 0;
        padding: 0;
        border: none;
        background-color: #fff;
        font-size: 13px;
        line-height: 16px;
    }
}


@media screen and (max-width: 575.98px) {
    .profile__container {
        padding: 18px 14px;
    }

    .profile__title {
        padding: 50px 0 64px;
    }

    .profile__input {
        width: 226px;
    }

    .profile__submit-edit {
        margin: 362px 0 16px 0;
    }

    .profile__submit-edit {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__submit-logout {
        font-size: 12px;
        line-height: 15px;
    }
}