.filterCheckbox {
    margin: 27px 0 0;
    border-bottom: 1px solid rgba(170, 170, 170, 1);
}

.filterCheckbox__container {
    position: relative;
    margin-bottom: 44px;
}

.filterCheckbox__input {
    z-index: -1;
    opacity: 0;
    position: absolute;
}

.filterCheckbox__label {
    margin: 0 0 0 50px;
    font-size: 13px;
    line-height: 18px;
}

.filterCheckbox__label:hover {
    cursor: pointer;
}

.filterCheckbox__input+label::before {
    content: "";
    width: 36px;
    height: 20px;
    border-radius: 10px;
    background-color: #EBEBEB;
    display: inline-block;
    position: absolute;
    left: 0;
}

.filterCheckbox__input+label::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #2BE080;
    display: inline-block;
    border: 1px solid #fff;
    position: absolute;
    left: 17px;
    top: 1px;
}

.filterCheckbox__input:checked + .filterCheckbox__label::before {
    background-color: #3DDC84;
}

.filterCheckbox__input:checked + .filterCheckbox__label::after {
    background-color: #fff;
}

@media screen and (max-width: 575.98px) {


    .filterCheckbox__label {
        margin: 0 0 0 50px;
        font-size: 11px;
        line-height: 18px;
    }

    .filterCheckbox__container {
        margin-bottom: 65px;
    }
}
